<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>
<body>
    {{> header}}
    <p>, ipsum dolor sit amet consectetur adipisicing elit. Quae, totam! Quasi natus consectetur maxime adipisci est? Eos doloribus, fugit officiis ut ducimus fuga laboriosam placeat ad possimus voluptates cum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non voluptate explicabo dolorum ipsa veritatis assumenda? Veniam est, dicta voluptatibus totam quam praesentium repudiandae odit quos eius assumenda, corporis fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestiae quas iusto voluptatum dolore tempora labore vel necessitatibus corporis dolores, eveniet ex saepe, commodi temporibus ea cum! Blanditiis, ipsum tenetur!</p>

{{> footer}}
</body>
</html>